{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}


{{if .Params.image}}
  {{if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.image 0 8) "https://")}}
  <header class="main-header post-head" style="background-image: url(images/{{.Params.image}})">
  {{ else }}
  <header class="main-header post-head" style="background-image: url({{ $baseurl }}images/{{.Params.image}})">
  {{ end }}
  <nav class="main-nav overlay clearfix">
{{else}}
<header class="main-header post-head no-cover">
    <nav class="main-nav overlay clearfix">
{{end}}

      {{ if .Site.Params.logo }}
        <a class="blog-logo" href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Home" /></a>
      {{end}}
      {{ if .Site.Menus.main }}
          <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
      {{else}}
        {{ if .Site.Params.RelPermalink}}
          <a class="menu-button fa-rss" href="{{.Site.Params.RelPermalink }}">&nbsp;&nbsp;Subscríbete</a>
        {{else}}
          <a class="menu-button fa-rss" href="{{ .Site.BaseURL }}index.xml">&nbsp;&nbsp;Subscríbete</a>
        {{end}}
      {{end}}
    </nav>


    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{.Title}}</h1>
            <h2 class="page-description">
                {{if .Params.description}}
                    {{.Params.description}}
                {{end}}
            </h2>
        </div>
    </div>



</header>



<main class="content" role="main">




  <article class="post {{ .Section }}">
    <header class="post-header">

        <section class="post-meta">
        {{ if eq .Section "post"}}
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        {{end}}
         {{ range .Params.tags }}
          <span class="post-tag small"><a href="{{ $baseurl }}tags/{{ . | urlize }}/">#{{ . }}</a></span>
         {{ end }}
        </section>
    </header>

    <section class="post-content">


{{ .Content }}



<nav class="navpage">

{{ $currentNode := . }}
{{ range .Site.Menus.main }}
{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}}
      {{ range .Children }}
      <ul>
      <li><a href="{{.Permalink}}">{{.Name}}</a>
      {{ if .HasChildren }}
        <ul>
        {{ range .Children }}
          <li><a href="{{.Permalink}}">{{.Name}}</a>
          {{ if .HasChildren }}
            <ul>
            {{ range .Children }}
            <li><a href="{{.Permalink}}">{{ .Name }}</a></li>
            {{ end }}
            </ul>
          {{ end }}
        {{ end }}
        </ul>
      {{ end }}
      </li>
      </ul>
      {{ end }}


{{end}}
{{end}}

</nav>


    </section>


  <footer class="post-footer">


    {{if .Site.Params.logo}}
    <figure class="author-image">
        <a class="img" href="{{.Site.BaseURL}}" style="background-image: url({{ $baseurl }}{{.Site.Params.logo}})"><span class="hidden">{{.Site.Params.author}}'s Picture</span></a>
    </figure>
    {{end}}

    {{ partial "author.html" . }}

    {{ partial "share.html" . }}

    {{ partial "disqus.html" . }}

  </footer>
</article>

</main>
{{ partial "footer.html" . }}
