{{ partial "header.html" . }}

{{if .Site.Params.cover}}
{{if or (eq (substr .Site.Params.cover 0 7) "http://") (eq (substr .Site.Params.cover 0 8) "https://")}}
  <header class="main-header" style="background-image: url({{.Site.Params.cover}})">
  {{ else }}
  <header class="main-header" style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">
  {{ end }}
{{else}}
<header class="main-header no-cover">
{{end}}

    <nav class="main-nav overlay clearfix">
        {{ if .Site.Params.logo }}
            <a class="blog-logo" href="{{ .Permalink }}"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Blog Logo" /></a>
        {{end}}
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="#"><span class="burger"><i class="fa fa-bars" aria-hidden="true"></i></span><span class="word">Menu</span></a>
        {{else}}
            {{ if .Site.Params.RelPermalink}}
              <a class="menu-button fa fa-rss" href="{{.Site.Params.RelPermalink }}">&nbsp;&nbsp;Subscríbete</a>
            {{else}}
              <a class="menu-button fa fa-rss" href="{{ .Site.BaseURL }}index.xml">&nbsp;&nbsp;Subscríbete</a>
            {{end}}
        {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            {{ if .Site.Params.linkedinName }}
                <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank">
                    <i class="fab fa-2x fa-linkedin" style="color:white;"></i>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.githubName }}
                <a class="bloglogo" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank">
                <i class="fab fa-2x fa-github" style="color:white;"></i>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.twitterName }}
                <a class="bloglogo" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank">
                    <i class="fab fa-2x fa-twitter" style="color:white;"></i>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.facebookName }}
                <a class="bloglogo" href="https://www.facebook.com/{{ .Site.Params.facebookName }}" target="_blank">
                    <i class="fab fa-2x fa-facebook" style="color:white;"></i>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.instagramName }}
                <a class="bloglogo" href="https://instagram.com/{{ .Site.Params.instagramName }}" target="_blank">
                    <i class="fab fa-2x fa-instagram" style="color:white;"></i>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.pinterestName }}
                <a class="bloglogo" href="https://www.pinterest.com/{{ .Site.Params.pinterestName }}" target="_blank">
                    <i class="fab fa-2x fa-pintetest" style="color:white;"></i>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.googlePlusName }}
                <a class="bloglogo" href="https://google.com/+{{ .Site.Params.googlePlusName }}" target="_blank">
                    <i class="fab fa-2x fa-google-plus-official" style="color:white;"></i>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.gitlabName }}
                <a class="bloglogo" href="https://gitlab.com/{{ .Site.Params.gitlabName }}" target="_blank">
                    <i class="fab fa-2x fa-gitlab" style="color:white;"></i>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.tindieName }}
                <a class="bloglogo" href="https://www.tindie.com/stores/{{ .Site.Params.tindieName }}" target="_blank">
                    <span style="color:white;font-size:1em"><img style="height:1.9em"src="{{.Site.BaseURL}}/images/tindie.png"></span>
                </a>
            &nbsp;
            {{end}}

            <h1 class="page-title">{{ .Site.Title }}</h1>
            <h2 class="page-description">{{ .Site.Params.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    {{ range .Site.RegularPages }}
        {{if eq .Type "index" }}
        <div class="index-content post">
        {{.Content}}
        </div>
        {{end}}
    {{ end }}

    {{ if not ($.Scratch.Get "paginatedSections") }}
        {{ if isset .Site.Params "paginatedSections" }}
            {{ $.Scratch.Set "paginatedSections" .Site.Params.paginatedSections }}
        {{ else }}
            {{ $.Scratch.Set "paginatedSections" "post" }}
        {{ end }}
    {{ end }}

    {{ $list := where .Site.RegularPages "Section" "in" ($.Scratch.Get "paginatedSections") }}
    {{ $list := where $list "Section" "!=" "" }}
    {{ $paginator := .Paginate ( $list ) }}

    <div class="extra-pagination inner">
        {{ partial "pagination.html" $paginator }}
    </div>

    {{ range $index, $page := $paginator.Pages }}
        {{ partial "li.html" . }}
    {{ end }}
    {{ partial "pagination.html" $paginator }}

</main>

{{ partial "footer.html" . }}
