/******************************************************************************
 * FONTFACES
 * Webfonts and shit.
 ******************************************************************************/
@font-face{
  font-family: 'Menlo';
  src: url('../fonts/menlo.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

