{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{if .Params.cover}}
	{{if or (eq (substr .Params.cover 0 7) "http://") (eq (substr .Params.cover 0 8) "https://")}}
  <header class="main-header tag-head" style="background-image: url({{.Params.cover}})">
  {{ else }}
  <header class="main-header tag-head" style="background-image: url({{ $baseurl }}{{.Params.cover}})">
  {{ end }}
{{else if .Site.Params.cover}}
	 {{if or (eq (substr .Site.Params.cover 0 7) "http://") (eq (substr .Site.Params.cover 0 8) "https://")}}
  <header class="main-header tag-head" style="background-image: url({{.Site.Params.cover}})">
  {{ else }}
  <header class="main-header tag-head" style="background-image: url({{ $baseurl }}{{.Site.Params.cover}})">
  {{ end }}
{{else}}
	<header class="main-header tag-head no-cover">
{{end}}
    <nav class="main-nav overlay clearfix">
      {{ if .Site.Params.logo }}
        <a class="blog-logo" href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Home" /></a>
      {{end}}
      {{ if .Site.Menus.main }}
          <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
      {{else}}
        {{ if .Site.Params.RelPermalink}}
          <a class="menu-button fa-rss" href="{{.Site.Params.RelPermalink }}">&nbsp;&nbsp;Subscríbete</a>
        {{else}}
          <a class="menu-button fa-rss" href="{{ .RelPermalink }}">&nbsp;&nbsp;Subscríbete</a>
        {{end}}
      {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{.Title}}</h1>
            <h2 class="page-description">
                {{if .Params.description}}
                    {{.Params.description}}
                {{end}}
            </h2>
        </div>
    </div>
</header>

<main class="content" role="main">
    {{ $paginator := .Paginator }}

	<div class="extra-pagination inner">
    {{ partial "pagination.html" $paginator }}
	</div>

	{{ range $index, $page := $paginator.Pages }}
	   {{ partial "li.html" . }}
	{{ end }}

	{{ partial "pagination.html" $paginator }}
</main>



{{ partial "footer.html" . }}