<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  	<meta property="og:title" content="{{ if ne .Permalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}" />
  	<meta property="og:site_name" content="{{ .Site.Title }}" />
  	<meta property="og:url" content="{{ .Permalink }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@jorgegarciadev" />
    <meta name="twitter:title" content="{{ if ne .Permalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}" />
    <meta name="twitter:description" content="Léelo en jorgegarciadev.gitlab.io" />
    {{ if isset .Params "thumb" }}
    <meta name="twitter:image" content="{{.Site.BaseURL}}images/{{ .Params.thumb }}" />
    {{ else }}
    <meta name="twitter:image" content="{{.Site.BaseURL}}{{ .Site.Params.logo }}" />
    {{ end }}
    <meta name="twitter:dnt" content="on">


    {{ if .IsPage }}
  	<meta property="og:type" content="article" />

    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />

    {{ range .Params.tags }}
    <meta property="og:article:tag" content="{{ . }}" />
    {{ end }}
    {{ else }}
    <meta property="og:type" content="website" />
    {{ end }}

  <title>
    {{ if ne .Permalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
  </title>

    <meta name="description" content="{{ .Site.Params.description }}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{.Site.BaseURL}}images/apple-touch-icon.png">
	  <link rel="apple-touch-icon" href="{{.Site.BaseURL}}images/apple-touch-icon.png" />

    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/avenir.css">
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/menlo.css">
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/nav.css" />
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/dracula.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/rainbow.css" /> -->

    <script type="text/javascript" src="{{.Site.BaseURL}}js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>



    {{ if .Site.Params.RelPermalink}}
        <link href="{{.Site.Params.RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{else}}
      {{ if ne .Permalink "/" }}
          <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      {{ end }}
    {{end}}
    {{hugo.Generator}}

    <link rel="canonical" href="{{ .Permalink }}" />

    {{with  .Site.Params.googleAnalyticsUserID }}
    <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{.}}', 'auto');
      ga('send', 'pageview');

    </script> -->
    {{end}}

    {{ if .Site.Params.customHeaderPartial }}
        {{ partial .Site.Params.customHeaderPartial . }}
    {{ end }}
    <script type="text/javascript">
      var loc = window.location.href+'';
      if (window.location.hostname!='localhost' && loc.indexOf('http://')==0){
          window.location.href = loc.replace('http://','https://');
        }
    </script>
</head>
<body class="nav-closed">

  {{ partial "navigation.html" . }}

 <div class="site-wrapper">
