<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{ $currentNode := . }}
        
        {{ range .Site.Menus.main }}
            {{.Pre}}
            <li class="nav-opened{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}} nav-current{{end}}" role="presentation">
            	<a href="{{.URL}}">{{.Name}}</a>
            </li>
        {{end}}
    </ul>
    
    {{ if .Site.Params.RelPermalink}}
    <a class="subscribe-button icon-feed" href="{{.Site.Params.RelPermalink }}">Subscríbete</a> </div>
    {{else}}
    <a class="subscribe-button icon-feed" href="{{ .Site.BaseURL }}index.xml">Subscríbete</a>
    {{end}}
</div>
<span class="nav-cover"></span>
