<nav class="pagination" role="navigation">
	{{if .HasPrev}}
	    <a class="newer-posts" href="{{ .Prev.URL }}">&larr; Más recientes</a>
	{{end}}Página {{ .PageNumber }} de {{.TotalPages}}</span>
	{{if .HasNext}}
	    <a class="older-posts" href="{{ .Next.URL }}">Más antiguos &rarr;</a>
	{{end}}
</nav>
