{{ if ne .Site.Params.share false}}
<section class="share">
  <!-- <h4>Share this {{ if .Type }}{{.Type}}{{else}}post{{end}}</h4> -->
  <h4>¡Compártelo!</h4>
  <a class="fab fa-twitter" style="font-size: 1.4em" href="https://twitter.com/share?text={{ .Title | safeHTML}}&nbsp;-&nbsp;{{ .Site.Title }}&amp;url={{ .Permalink }}"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
      <span class="hidden">Twitter</span>
  </a>
  <a class="fab fa-facebook" style="font-size: 1.4em" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
      onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
      <span class="hidden">Facebook</span>
  </a>
  <a class="fab fa-mastodon" style="font-size: 1.4em" href="https://mastodon.social/share?text={{ .Title | safeHTML}}&nbsp;-&nbsp;{{ .Site.Title }}&amp;url={{ .Permalink }}"
      onclick="window.open(this.href, 'mastodon-share', 'width=550,height=235');return false;">
      <span class="hidden">Mastodon</span>
  </a>

  <!-- <a class="icon-pinterest" style="font-size: 1.4em" href="http://pinterest.com/pin/create/button/?url={{ .Permalink }}{{ if .Params.pinterestmedia }}&amp;media={{ .Site.BaseURL }}{{ .Params.pinterestmedia }}{{ end }}&amp;description={{ .Title | safeHTML}}"
      onclick="window.open(this.href, 'pinterest-share','width=580,height=296');return false;">
      <span class="hidden">Pinterest</span>
  </a> -->
  <!-- <a class="fab fa-google-plus" style="font-size: 1.4em" href="https://plus.google.com/share?url={{ .Permalink }}"
     onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
      <span class="hidden">Google+</span>
  </a> -->
</section>
{{end}}
