{{ partial "header.html" . }}
<style type="text/css">
  .main-header{
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .site-footer{
    display: none;
    margin:0;
  }
  .page-description{
    .color: #fff;
  }
  .page-description a{
    color: #fff !important;
    text-decoration: underline;
  }
</style>
<header class="main-header " style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">

<nav class="main-nav overlay clearfix">
        {{ if .Site.Params.logo }}
            <a class="blog-logo" href="/"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Blog Logo" /></a>
        {{end}}
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
        {{else}}
            {{ if .Site.Params.RelPermalink}}
              <a class="menu-button icon-feed" href="{{.Site.Params.RelPermalink }}">&nbsp;&nbsp;Subscribe</a>
            {{else}}
              <a class="menu-button icon-feed" href="{{ .RelPermalink }}">&nbsp;&nbsp;Subscribe</a>
            {{end}}
        {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            {{ if .Site.Params.linkedinName }}
                <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}">
                    <span class="icon-linkedin" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.githubName }}
                <a  href="https://github.com/{{ .Site.Params.githubName }}">
                <span class="icon-github" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.twitterName }}
                <a class="bloglogo" href="https://twitter.com/{{ .Site.Params.twitterName }}">
                    <span class="icon-twitter" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}

            <h1 class="page-title">Error 404</h1>
            <h2 class="page-description">Errrr parece que la página que buscas no existe. Es muy posible que la haya transladado, puedes probar a <a href="/search">buscarla</a> o volver a la <a href="/">página de inicio</a>.</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>
</header>


{{ partial "footer.html" . }}